<h2 class="title">Vaccine Appointment Availability</h2>

<table id="customers">
  <tr>
    <th class="add">Address</th>
    <th>Vaccine Available</th>
    <th>Date</th>
    <th>Time</th>
    <th>District</th>
    <th>Fee Type</th>
    <th>Min Age Limit</th>
    <th>Pin Code</th>
    <th>State Name</th>
    <th>Vaccine</th>
  </tr>
  <tr *ngFor="let user of data.sessions">
    <!-- <td>{{ user.address }}</td> -->
    <td>{{ user.name }}</td>
    <td>{{ user.available_capacity }}</td>
    <td>{{ user.date }}</td>
    <td>{{ d }}</td>
    <td>{{ user.district_name }}</td>
    <td>{{ user.fee_type }}</td>
    <td>{{ user.min_age_limit }}+</td>
    <td>{{ user.pincode}}</td>
    <td>{{ user.state_name }}</td>
    <td>{{ user.vaccine }}</td>
  </tr>
</table>